/* popdemos alterar o estilo do cursor */
a {
    cursor: help;
    margin: 20px;
    padding: 30px;
}

/* aqui popdemos alterar a cor dos links que foram visitados */

a:visited {
    color: orange;
}
/* aqui posso alterar a cor qdo estiver ativando um clique */
a:active {
    color: yellow;
}

/* aqui posso alterar a cor quando passamos o cursor em cima do links */
a:hover {
    background-color:brown;
    /* posso alterar a cor do texto quando passo o cursor */
    color: white;
}