.container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}



/* .container{
    display: grid;
    grid-template-areas: "containerPrincipal containerPropaganda"
                        "containerPrincipal videosSecundariosSection";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    gap: 20px;
}

.containerPrincipal{
    grid-area: containerPrincipal;
}

.containerPropaganda{
    grid-area: containerPropaganda;
}
    
.videosSecundariosSection{
    grid-area: videosSecundariosSection;
} */

