
.alinhado-esquerda {
    text-align: left;
}

.alinhado-direita {
    text-align: right;
}

.alinhado-justificado {
    text-align: justify;
}

.alinhado-centro {
    text-align: center;
}

.fundo-alinhamento {
    padding: 20px;
    background-color: #d1c4e9;
}

/* -------text transform------------ */

.maiuscula {
    text-transform: uppercase;
}

.minúscula {
    text-transform: lowercase;
}

.capitalizado {
    text-transform: capitalize;
}

/* -----------text decoration-------------- */

.subinhado {
    text-decoration: underline;
}

.linha-sobreposta {
    text-decoration: line-through;
}

.sem-text-decoration {
    text-decoration: none;
}

/* ---------letter spacing--------------------- */

.altura-entre-linhas {
    line-height: 30px ;
}

/* -----------sombra de texto--------------------- */

.sombra-de-texto {
    text-shadow: 5px 10px 1px #808080;
}

/*----------------GERAL------------------------------- */
.fundo-alinhamento {
    padding: 20px;
    background-color: #d1c4e9;
}

.fundo-transform {
    padding: 20px;
    background-color: #c8e6c9;
}

.fundo-decoration {
    padding: 20px;
    background-color: #fff9c4;
}

.fundo {
    padding: 20px;
    background-color: #ccc;
}

.html {
    font-size: 24px;
}
