/* As variáveis podem ter escopo local ou global, as globais, podem ser usadas em todos os estilos do doxumento, as locais só podem ser usadas naquele seletor que ela foi criada */

/* Para isso vamos criar um seletor root, onde basicamente ele vai ser a raiz do documento, dentro dela criamos a variável*/

:root{
    --cor-padrao: rgb(214, 59, 98);
    --tamanho-da-fonte-padrao: 20px;
}

/*vamos colocar a variável criada acima, e uma segunda opção, caso a nossa variável não de certo */
h2{
    color: var(--cor-padrao, blue);
    font-size: var(--tamanho-da-fonte-padrao, 20px);
    background-color: green;
}

h3{
    color: var(--cor-padrao, blue);
    font-size: var(--tamanho-da-fonte-padrao, 20px);
}

p{
    color: var(--cor-padrao, blue);
    font-size: var(--tamanho-da-fonte-padrao, 20px);
}

/* exemplo de scopo local*/
span{
    --cor-padrao: rgb(62, 59, 214);
    --tamanho-da-fonte-padrao: 30px;
    color: var(--cor-padrao, rgb(53, 102, 13));
    font-size: var(--tamanho-da-fonte-padrao, 20px);
    background-color: aquamarine;
}