
body {
    background-color: #e1e2e1;
}

.cabecalho {
    padding: 10px 5px;
    background-color: #69f0ae;
}

.cabecalho .Logo {
    display: inline-block;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 15px;
}

main {
    background-color: white;
    padding: 30px;
    /* width: 900px; */
    min-width: 320px; /*para deixar responsivo, colocamos o tamanho minimo */
    max-width: 900px; /*para deixar responsivo, colocamos o tamanho maximo */
    margin: 0 auto;
}

main .info {
    font-size: 18px;
}

main p {
    font-size: 16px;
}

.image img {
    width: 100%; /*aqui fazemos a imagem ficar do tamanho da tela */
}