.produto {
    background-color: aquamarine;
    border: solid 1px;
    margin: 2px;
    padding: 5px;
}
/* .produto span {
    font-size: 20px;
    color:brown
} */

/* 
Abaixo podemos usar uma classe dentro do span */

.destaque {
    font-size: 20px;
    color:brown
}