.container > div{
    border: 1px solid black;
    background-color: darkmagenta;
    color: white;
}

/*aqui definimos o minmax do container*/
.container{
    display: grid;
    /*4 colunas
    1- a primeira com mínimo de 100px e máximo de 800px
    2- a segunda e a terceira (repeat) com no mínimo de 100px e máximo de 300px
    3- a quarta coluna com auto no min e no max, onde ele vai se adequar ao que sobra do container */
    grid-template-columns: minmax(100px, 800px) repeat(2, minmax(100px, 300px)) minmax(auto,auto);
}