/* -------- Efeito cascata
.container-cascata {
    background-color: aqua;
}

.container-cascata {
    background-color: orangered;
}-----  */

/* ----------Especificidadde--------------
 Veja abaixo que em uma id ela tem preferência, apesar
 de ela estar antes das demais */

#meu-paragrafo {
    background-color:blue;
}

.container-especificidade p {
    background-color: crimson;
}

p {
    background-color:blueviolet;
}



