@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=VT323&display=swap');

p {
    font-size: 24px;
    font-family: 'Fira Code', monospace;
    font-weight: 700px;
}