.float .right {
    float: right; /* se colocar none, ele sai da flutuação e perde toda a propriedade*/
    background-color: aqua;
    width: 100px;
    height: 100px;
}

.float .left {
    float: left;
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}

.float:after {
    content: "";
    display: block;
    clear: both;
}

/* aqui a forma mais utilizada de float*/
img{
    float: left; /* aqui colocamos a imagem a esquerda */
    width: 100px; /* deixamos a imagem com a largura de 100px */
    height: 100px; /* deixamos a imagem com a altura de 100px */
    margin-right: 15px; /* deixamos a imagem com um afastamento de 15 px do texto */
}
