.container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}

.containerPrincipal{
    grid-area: 1 / 1 / 3/ 2;
} 

.containerPropaganda{
    display: grid;
}

.videoPropaganda{
    grid-area: 1 / 2 / 1 / 2;
}

.videosSecundarioSection{
    display: grid;
}

.videos{
    grid-area: 2 / 3 / 2 / 3 ;
}

