* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 24px;
}

ul {
    margin-bottom: 50px;
}

.em-bloco li {
    background: aquamarine;
    margin-bottom: 10px;
    width: 350px;
}
/* se tentar colocar altura ou altura para in line, pois não funciona" */
.em-linha li {
    display: inline;
    background: aquamarine;
}
 /* aqui vc consegue colocar altura ou altura
 isso é muito usado em menu. */
.em-linha-e-bloco li {
    display: inline-block;
    background: aquamarine;
    width: 100px;
    height: 100px;
}

.esconder {
    dispay: none;
}