* {
    margin: 0;
}
/* aqui fazemos o layot dos elementos em geral*/
.elemento {
    color: #fff;
    font-size: 32px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
}
/* o elemento static é como ele se comporta geralmento, ficando parado n tela  */
.elemento-estatico {
    position: static;
    background-color: crimson;
}
/*o elemento relative é como ele fica relativo ao 
lugar onde ele foi criado, mas conseguimos mudar ele com left, right...*/
.elemento-relativo {
    position: relative;
    left: 100px;
    top: 10px;
    background-color: coral;
}
/* o absolute cria uma camada para ele sai do fluxo normal da tela, e 
os elementos que estão abaixo dele, tomam o lugar dele*/
.elemento-absoluto {
    position: absolute; /* aqui ele fica destacado dos elementos, como uma camada */
    left: 250px; /* trazendo ele para o lado, vemos que tem outro embaixo*/
    background-color: darkcyan;
}
/* elemento criado pai e filho, vc consegue alterar o absoluto apenas dentro do 
elemento filho*/
.elemento-relativo-com-filho {
    position: relative;
    width: 350px;
    height: 350px;
    background-color: rgb(214, 212, 212);
}

.elemento-absoluto-com-pai {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
    background-color: darkcyan;
}

